.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 24px;
}

.logo {
  display: flex;
  gap: 12px;
}

@keyframes logo {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.logoIcon {
  animation: logo 16s linear infinite;
}

.content {
  flex: 1 0 auto;
  display: flex;
  align-items: center;
}

.footer {
  flex-shrink: 0;
}

.titleGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.name {
  margin: 0;
  font-size: 6rem;
  font-weight: 500;
  line-height: 1.1;
}

.title {
  margin-top: 16px;
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 1.1;
}
