.header {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: $z-index-foreground;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem $header-padding;
}

.logo {
  display: flex;
  gap: 12px;
}

@keyframes logo {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.logoIcon {
  animation: logo 16s linear infinite;
}
