.header {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: $z-index-foreground;
  display: flex;
  padding: 1rem $header-padding;
  background: hsl(0deg 0% 0% / 10%);
}

.backdrop {
  position: absolute;
  inset: 0;
  height: 200%;
  background: linear-gradient(
    to bottom,
    hsl(0deg 0% 0% / 30%) 0%,
    transparent 40%
  );
  pointer-events: none;
  backdrop-filter: blur(16px);
  mask-image: linear-gradient(to bottom, black 0% 50%, transparent 50% 100%);
}

.headerContent {
  position: relative;
  z-index: $z-index-foreground;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  display: flex;
  gap: 12px;
}

.logoIcons {
  position: relative;
  width: 1.7rem;
  height: 1.7rem;
}

@keyframes logo {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.logoIcon {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: contain;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  animation: logo 5s linear infinite;
}

.logoActive {
  opacity: 1;
}
