.section {
  gap: 1rem;
  padding: 4rem $content-padding-mobile;

  @media (min-width: $screen-sm-min) {
    padding: 4rem $content-padding;
  }
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
  max-width: $max-content-width;
  margin: 0 auto;

  @media (min-width: $screen-lg-min) {
    flex-direction: row;
  }
}

.sectionNumber {
  position: sticky;
  top: $header-height;
  align-self: start;
  font-weight: 300;
  font-size: 4rem;
  line-height: 1;
  opacity: 0.8;

  @media (min-width: $screen-md-min) {
    font-size: 6rem;
  }
}

.content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  padding: 1.5rem 0;
  border-top: 1px solid $cyan-atom;


  @media (min-width: $screen-sm-min) {
    padding: 1.5rem;
  }

  @media (min-width: $screen-md-min) {
    grid-template-columns: auto 1fr;
  }
}

.sectionHeader {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sectionTitle {
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.1;
}

.sectionContent {
  max-width: 500px;
}
