.content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.paragraphs {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.skillsGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  margin-top: 1rem;
}
